{% extends 'base.html' %}

{% block content %}
    <h1>{{ msgError }}</h1>
    Emitente: {{ nfe.emitente.razaoSocial }}<br>
    Numero: {{ nfe.dadosNfe.numero }} / Serie: {{ nfe.dadosNfe.serie }}<br>
    Data: {{ nfe.dadosNfe.dataEmissao }}<br>
    Sistuacao: {{ nfe.dadosNfe.situacao }}<br>
    <br>
    Loja: {{ nfe.destinatario.razaoSocial }}<br>
    Chave: {{ nfe.dadosNfe.chaveDeAcesso }}<br>
    Total Venda: {{ totalVenda }}<br>
    <br>
    {% load render_table from django_tables2 %}
    {% render_table table %}
{% endblock content %}